* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 3rem / 1.2 sans-serif;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: 50% / cover url('mountains.jpg') no-repeat;
  filter: blur(0px);
}

span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
